body{
    margin:0;
    padding:0;
    background-image: url(images/bg.jpeg);
    background-size:cover;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: 'Marcellus SC', serif;
    background-repeat:repeat;
}

.pfp{
    height: 120px;
    width:120px;
    border-radius:60px;
}

.name{
    color: rgb(255, 204, 0);
    font-size:40px;
    margin-top:15px ;
    mix-blend-mode:color-dodge;
}

.container{
    width:91%;
    max-width: 800px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile{
    width:100%;
    height:auto;
    margin:7px;
    background-color:rgba(255, 204, 0,0.5);
    mix-blend-mode: color-dodge;
    border: 1px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

.tile:hover{
    transition:cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;
    transform: scale(1.05);
}



a{
    text-decoration: none;
    color: white;
    font-size:30px;
}

p{
    margin:18px;
}

.icons{
    height:60px;
    margin-top: 8px;
    margin-left: 10px;
}
.licons{
    height:50px;
    width:50px;
    margin-top: 11px;
    margin-left: 15px;
}

.bicons{
    height:50px;
    width:50px;
    margin-top: 12px;
    margin-left: 15px;
}
.iicons{
    height:65px;
    border-radius: 35px;
    margin-top: 7px;
    margin-left: 1px;
}

